DB_TARGET="local"
DATABASE_URL_LOCAL="mysql://thekedaar:Thekedaar%40Prod2026@localhost:3306/thekedaar_db"
DATABASE_URL_AWS="mysql://username:password@aws-rds-host:3306/thekedaar_db"
JWT_SECRET="CHANGE-THIS-to-a-long-random-string-use-openssl-rand-hex-32"
PORT=5000
